body {
    background-image: url("plane.png");
    background-size: contain;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #575766;
}

#title {
    text-align: center;
    margin-top: 35px;
    font-size: 5em;
}

div {
    padding-left: 100px;
    padding-right: 100px;
}

h2 {
    font-size: 3.5em;
    margin-top: 20px;
    margin-bottom: 57px;
}

li {
    margin-top:35px;
    font-size: 2.5em;
}

a {
    text-decoration: none;
    color: #575766;
}

a:hover {
    color:#4720d4;
}